[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
python-dotenv = "*"
notebook = "*"
ipykernel = "*"
altair = "*"
matplotlib = "*"
plotly = "*"

[dev-packages]
bandit = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
