/* Styling to hide menu */
#MainMenu {
    visibility: hidden;
}

footer {
    visibility: visible;
}

footer:after {
    content: "Copyright © 2022 - @LibranTechie | All rights reserved | Powered by Python | ";
    display: block;
    position: relative;
    color: tomato;
    align-items: center;
}